.cta{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    color: #340068;
    margin: 2rem 0;
}
.cta-follow{
    font-size: 45px;
}
.cta input,button{
    height: 3rem;
    padding: 0 1.5rem;
}
.cta input{
    width: 15%;
}
.cta button{
    border: none;
    border-radius: 5px;
    margin-left: 0.7rem;
    background-color: #340068;
    color: #f2f3f4;
    cursor: pointer;
}
.cta-terms  span{
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .cta{
        padding: 1rem;
    }
.input-btn{
    display: flex;
    }
    .input-btn input{
        width: 75%;
    }
    .cta button{
        width: 25%;
    }
}