.landing,
.buttons,
.buttons button a {
  display: flex;
}
.landing {
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 6rem;
  min-height: 48vh;
  text-align: center;
}
.landing p{
  margin-top: 1rem;
}
.landing h1 {
  font-size: 60px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f1f1f2;
}
.landing h3 {
  font-size: 20px;
  margin-top: 1rem;
}
p {
  /* margin-bottom: 0.3rem; */
  font-size: 20px;
}
.buttons {
  gap: 1.5rem;
}
.buttons button {
  border: 2px solid #f1f1f2;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 15rem;
  border-radius: 5px;
  font-size: 15px;
}
.buttons button a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.linkedin {
  background-color: #f1f1f2;
  font-weight: bold;
}
.linkedin * {
  color: #340068;
}
.github{
  background-color: transparent;

}
@media screen and (orientation: portrait) {
  .landing{
    padding: 1rem;
  }
  .landing h1{
    font-size: 29px;
  }
  .buttons{
    width: 100%;
    gap: 0;
    flex-direction: column;
  }
  .buttons button{
    width: 100%;
  }
}